<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" package="com.lkl.ansuote.traning"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".core.base.BusinessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity android:name=".module.kotlintest.KotlinTestActivity">
        </activity>

        <activity android:name=".module.share.ShareActivity">
        </activity>
        <activity android:name=".module.addressbook.AddressBookActivity">

        </activity>

        <activity android:name=".module.dagger.DaggerActivity">
        </activity>

        <activity android:name=".module.rxtest.RxTestActivity">
        </activity>

        <activity android:name=".module.arouter.ARouterTestActivity">
        </activity>

        <activity android:name="com.lkl.ansuote.traning.module.widget.table.TableActivity">

        </activity>

        <activity android:name=".module.json.JsonTestActivity">
        </activity>

        <activity android:name="com.lkl.ansuote.traning.module.widget.soft.SoftTestActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:configChanges="orientation|keyboardHidden">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".module.widget.edit.EditTextTestActivity"
                android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <activity android:name=".module.mvp.activity.MvpTestActivity">

        </activity>

        <activity android:name=".module.widget.WidgetTestActivity">

        </activity>

        <activity android:name=".module.bus.BusTestActivity">
        </activity>

        <activity android:name=".module.jetpack.LifecyclesTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".module.bus.BusTestByHandService"/>

        <service android:name=".module.bus.BusTestAutoService" tools:remove=":BusTestAutoService"/>
    </application>

</manifest>